@import "tailwindcss";

:root {
    --case-study-image: none;
    --case-study-primaryColour: #333;
    --case-study-image-overlay: rgba(0, 0, 0, 0.5);
}

body {
    background-color: #fff; /* changing this to ensure that the CSS recompiles (it doesn't actually do anything) */
}

#loadingSpin {
    @apply w-16 h-16 border-4 border-white/40 border-t-white rounded-full animate-spin motion-reduce:hidden;
}

#canvaEmbedContainer {
    @apply relative w-full aspect-video rounded-xl overflow-hidden;
}

#canvaIframe {
    @apply absolute -top-px -left-px block w-[calc(100%+2px)] h-[calc(100%+2px)] border-0;
}

#canvaEmbedLoadingBackground {
    @apply absolute inset-0 z-10 flex flex-col items-center justify-center
        bg-transparent overflow-hidden transition-opacity duration-(--canva-embed-transition-duration);
}

#canvaEmbedLoadingBackground::before {
    content: "";
    @apply absolute inset-0 -z-10 origin-right scale-x-100
        bg-(--blue-default)
        transition-transform duration-(--canva-embed-transition-duration) ease-out;
}

#canvaEmbedLoadingBackground.canva-loaded::before {
    @apply scale-x-0;
}

#caseStudyLinksPanel {
    @apply space-y-4 p-4 border rounded-xl;
}

.case-study-button-layout {
    @apply flex flex-col flex-1 items-start px-6 py-6 w-full min-w-37.5 rounded-lg
        border text-sm transition-colors;
}

.case-study-button {
    @apply relative z-0 overflow-hidden border rounded-lg
        text-white transition-colors bg-black bg-cover bg-center;

    background-image:
        linear-gradient(
            var(--case-study-image-overlay),
            var(--case-study-image-overlay)
        ),
        var(--case-study-image);
}

.case-study-button:hover {
    @apply cursor-pointer;
}

.case-study-button > * {
    @apply relative z-10;
}

.case-study-button::before {
    content: "";
    @apply absolute inset-0 z-0 origin-right scale-x-0 opacity-50
        bg-(--case-study-primaryColour)
        transition-transform duration-300 ease-out;
}

.case-study-button:hover::before {
    @apply scale-x-100 origin-left;
}

.case-study-button[data-active="true"] {
    background: none;
}

.case-study-button[data-active="true"]::before {
    @apply scale-x-100 origin-left opacity-100;
}

.case-study-subheading {
    @apply font-bold text-base;
}

.case-study-external-link {
    @apply text-white hover:opacity-80 px-4 py-2 rounded-md font-medium text-sm transition-opacity;
}
