@import "tailwindcss";

label {
    @apply text-gray-700 text-sm;
}

#contactModal {
    @apply z-100 fixed inset-0 flex justify-center items-center;
}

#closeContactModalButton {
    @apply top-4 right-4 absolute text-gray-400 hover:text-gray-700 cursor-pointer;
}

.contact-modal-content {
    @apply z-101 relative bg-white shadow-xl p-6 rounded-lg w-full max-w-lg;
}

.input-field {
    @apply px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-(--blue-default-light);
}

.form-section {
    @apply flex flex-col gap-1;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 300ms ease-out;
}
