@import "tailwindcss";

:root {
    --blue-default: #0f7bb8;
    --canva-embed-transition-duration: 1000ms;
}

html,
body {
    overscroll-behavior-y: none;
}

body {
    background-color: #222; /* changing this to ensure that the CSS recompiles (it doesn't actually do anything) */
}

body {
    font-family: var(--font-nunito-sans), system-ui, sans-serif;
    margin: 0;
    background-color: #fefefe;
}

h1,
.nav-links-container {
    font-family: var(--font-dm-sans), system-ui, sans-serif;
}

h1 {
    @apply font-bold text-2xl text-black pb-2;
}

.footer-link {
    @apply hover:text-white;
}

.bg-blue-default {
    @apply bg-(--blue-default);
}

.text-blue-default {
    @apply text-(--blue-default);
}

.body-container {
    @apply mx-auto max-w-6xl p-5;
}

#navbar {
    @apply flex justify-between items-center text-white;
}

#footer {
    @apply bg-gray-800 text-gray-300;
}

#navbarContainer {
    @apply bg-gray-600 sticky top-0 z-50 transition-opacity duration-300 ease-in;
}

#copyrightLabel {
    @apply mt-10 pt-4 border-t border-gray-700 text-gray-400 text-xs;
}
