@import "tailwindcss";

:root {
    --blue-default: #0f7bb8;
    --canva-embed-transition-duration: 1000ms;
}

body {
    background-color: #000; /* changing this to ensure that the CSS recompiles (it doesn't actually do anything) */
}

body {
    font-family: var(--font-nunito-sans), system-ui, sans-serif;
    margin: 0;
    background-color: #fefefe;
}

h1,
.nav-links-container {
    font-family: var(--font-dm-sans), system-ui, sans-serif;
}

h1 {
    @apply font-bold text-2xl text-black;
}

.footer-link {
    @apply hover:text-white;
}

.bg-blue-default {
    @apply bg-(--blue-default);
}

.body-container {
    @apply mx-auto max-w-6xl p-5;
}

#navbar {
    @apply flex justify-between items-center text-white;
}

#footer {
    @apply bg-gray-800 text-gray-300;
}

#navbarContainer {
    @apply bg-gray-600 sticky top-0 z-50 transition-opacity duration-300 ease-in;
}

#copyrightLabel {
    @apply mt-10 pt-4 border-t border-gray-700 text-gray-400 text-xs;
}

#loadingSpin {
    @apply motion-reduce:hidden border-4 border-white/40 border-t-white rounded-full w-16 h-16 animate-spin;
}

#canvaEmbedContainer {
    @apply relative rounded-xl w-full aspect-video overflow-hidden;
}

#canvaIframe {
    @apply block -top-px -left-px absolute border-0 w-[calc(100%+2px)] h-[calc(100%+2px)];
}

#canvaEmbedLoadingBackground {
    @apply absolute inset-0 z-10 flex flex-col items-center justify-center
        bg-transparent transition-opacity duration-(--canva-embed-transition-duration) overflow-hidden;
}

#canvaEmbedLoadingBackground::before {
    content: "";
    @apply absolute inset-0 -z-10
        bg-(--blue-default)
        origin-right scale-x-100
        transition-transform duration-(--canva-embed-transition-duration) ease-out;
}

#canvaEmbedLoadingBackground.canva-loaded::before {
    @apply scale-x-0;
}
