@import "tailwindcss";

:root {
    --blue-default: #0f7bb8;
    --blue-default-light: #118dd4;
    --navbar-hover-transition-duration: 300ms;
}

html,
body {
    overscroll-behavior-y: none;
}

body {
    font-family: var(--font-nunito-sans), system-ui, sans-serif;
    margin: 0;
    background-color: #fff; /* changing this to ensure that the CSS recompiles (it doesn't actually do anything) */
}

h1,
.nav-links-container {
    font-family: var(--font-dm-sans), system-ui, sans-serif;
}

h1 {
    @apply font-bold text-2xl text-black pb-2;
}

section {
    @apply pb-8;
}

button:hover {
    @apply cursor-pointer;
}

.footer-link:hover {
    @apply text-white;
    text-shadow:
        0 0 1px rgba(255, 255, 255, 0.6),
        0 0 2px rgba(255, 255, 255, 0.4);
}

.bg-blue-default {
    @apply bg-(--blue-default);
}

.text-blue-default {
    @apply text-(--blue-default);
}

.body-container {
    @apply mx-auto max-w-6xl p-5;
}

.small-button {
    @apply text-white hover:opacity-80 px-4 py-2 rounded-md font-medium text-sm transition-opacity;
}

#navbar {
    @apply flex justify-between items-center text-white py-0;
}

#footer {
    @apply bg-gray-800 text-gray-300;
}

#navbarContainer {
    @apply bg-gray-600 sticky top-0 z-50 transition-opacity duration-300 ease-in min-h-15;
}

#copyrightLabel {
    @apply transition-colors mt-10 pt-4 border-t border-gray-700 text-gray-400 text-xs;
}

.nav-link {
    @apply relative inline-block overflow-hidden py-4 text-gray-300 hover:text-white;
}

.nav-link.active {
    @apply text-white;
}

.nav-link::before {
    content: "";
    @apply absolute left-0 right-0 bottom-0 h-[0.25em]
        origin-right scale-x-0
        transition-transform duration-(--navbar-hover-transition-duration) ease-out
        bg-(--blue-default-light)
        z-999;
}

.nav-link:hover::before {
    @apply scale-x-100 origin-left;
}

.nav-link > span {
    @apply relative z-10;
}

.footer-heading {
    @apply font-semibold text-white;
}
