@import "tailwindcss";

#aboutMe {
    @apply flex md:flex-row flex-col items-stretch gap-8 mt-0;
}

#toMyWorkPage {
    @apply rounded-lg bg-(--blue-default) px-6 py-3 text-white hover:opacity-80 font-medium;
}

#myWorkPageArrow {
    @apply size-6 animate-pulse group-hover:animate-[wiggle_2s_ease-in-out_infinite];
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}
