@import "tailwindcss";

#aboutMe {
    @apply flex md:flex-row flex-col items-stretch gap-8 mt-0;
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}
