@import "tailwindcss";

html,
body {
    @apply snap-y snap-mandatory scroll-smooth scroll-pt-(--navbar-height) scroll-pb-(--footer-height);
}

#aboutMeModal {
    @apply flex flex-col bg-[#f6f6f7] p-7 rounded-2xl min-h-[60dvh] w-full; /* f6f9fc f6f6f7 */
}

#aboutMeImageContainer {
    @apply relative rounded-lg w-full md:w-1/2 h-64 md:h-auto overflow-hidden;
}

.responsive-section {
    @apply flex md:flex-row flex-col items-stretch gap-8 mt-0;
}

.inner-scrollable-section {
    @apply flex flex-col justify-start items-start transition-all duration-4000 ease-out;
}

.scrollable-text {
    @apply text-lg max-md:text-base max-sm:text-sm; /* ! implement full responsivity later on!!! */
}

.scrollable-section,
.scrollable-section-tail {
    @apply snap-start flex flex-col scroll-mt-(--navbar-height) pb-0; /* test border: border-4 border-(--blue-default) box-border */
}

.scrollable-section:first-of-type {
    @apply pt-(--navbar-height);
}

.scrollable-section {
    @apply relative h-[calc(100dvh-var(--navbar-height))];
    --scroll-down-arrow-height: 5rem;
}

.scrollable-section-tail {
    @apply snap-end min-h-[calc(100dvh-var(--navbar-height)-var(--footer-height))];
}

.scrollable-section:not(:first-of-type) {
    --scroll-down-arrow-height: calc(5rem + var(--navbar-height));
}

.inner-scrollable-section[data-entered="true"] {
    @apply opacity-100 translate-y-0;
}

.inner-scrollable-section[data-entered="false"] {
    @apply opacity-0 translate-y-3;
}

.scroll-down-indicator {
    @apply pointer-events-none absolute bottom-6 left-1/2 flex items-center 
        animate-[pulseOpacity_2.4s_ease-in-out_infinite] transition-opacity duration-300 ease-in-out translate-x-0.5;
}

.scrollable-section[data-next-entered="true"]
    .scroll-down-indicator
    .scroll-down-arrow {
    @apply transition-opacity duration-300 opacity-0;
}

.scroll-down-arrow {
    @apply text-(--blue-default) w-10 h-10 animate-[yWiggle_1.6s_ease-in-out_infinite];
}

.scroll-down-arrow:first-of-type {
    height: var(--scroll-down-arrow-height);
}

@keyframes yWiggle {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(3px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pulseOpacity {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}
